// Body
$body-bg: #ffffff;

// Typography
$font-body: 'Averta Light';
$font-regular: 'Averta';
$font-bold: 'Averta Bold';
$font-extrabold: 'Averta Extrabold';
$font-semibold: 'Averta Semibold';
$font-secondary: 'Lobster';
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$body-color: #585b61;

// Colors
$primary: #28ACB5;
$gray: #9c9c9c;
$primary-2: #28ACB5;
$primary-3: #fff4ee;
$bg-secondary: #e8ecee;
$secondary-2: #198DC6;
$secondary-3: #D72958;
$white: #ffffff;
$black: #000000;
$dark-2: #303133;
$dark-3: #5a5d5f;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$muted: #b5bdc2;
$muted-2: #8b8d8e;

// Buttons
$bg-facebook : #3b579d;
$bg-google : #c9161e;

// Responsive
$xs : '<=767px';
$sm : '>=768px','<=991px';
$md : '>=992px','<=1199px';
$lg : '>=1200px';