@import "../global";
@import "global";

/*-----Responsive-----*/
@import 'responsive';

/*-----Variables-----*/
@import 'variables';

/*-----use fonts-----*/
@import "fonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	font-family: $font-body;
	font-size: 0.92rem;
	color: $body-color;
	&::-webkit-scrollbar {
	    width: 0.3em;
	}
	 
	&::-webkit-scrollbar-track {
	    -webkit-box-shadow: none;
	    box-shadow: none;
    	background: $muted;
	}
	 
	&::-webkit-scrollbar-thumb {
	  background-color: $primary;
	  outline: none;
	}
}
section {
	background-color: $white;
	padding-top: 7.42857143em;
  	padding-bottom: 7.42857143em;
  	position: relative;
}
img {
	max-width: 100%;
}
input {
	padding: 0 16px;
	&:focus {
		outline:1px solid $dark-2;
	}
}
// Overlays
[data-scrim-bottom] {
  position: relative;
  &:before {
  	position: absolute;
  	content: '';
  	width: 100%;
  	height: 80%;
  	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
  	/* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #252525));
  	/* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
  	/* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
  	/* Opera 11.10+ */
  	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
  	/* IE10+ */
  	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #252525 100%);
  	bottom: 0;
  	left: 0;
  	z-index: 1;
  	backface-visibility: hidden;
  }
}

$scrim: 10;

@for $i from 1 through $scrim {
    [data-scrim-bottom="#{$i}"]:before{
        opacity: ($i / 10);
    }
}

[data-overlay] {
  position: relative;
  &:before {
  	position: absolute;
	content: '';
	background: #252525;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
  }
}
$overlay: 10;

@for $i from 0 through $overlay {
    [data-overlay="#{$i}"]:before{
        opacity: ($i / 10);
    }
}


// Spacing
.next-line {
	display: block;
    clear: both;
    @include media($xs){
    	display: initial;
      	clear: none;
    }
}
hr.light {
	border-color: #ddd;
}

/*-----Menu-----*/
.navbar {
	padding:0.5rem;
	.logo {
		max-height: 5rem;
		@include media($xs) {
			max-height: 4rem;
		} 
	}
	&-toggler {
		padding: 1px 6px;
	}
	.nav-item {
		.dropdown-toggle {
			&:after {
				display: none;
			}
		}
		.dropdown-menu {
			border: 0;
		    border-top: 2px solid $primary;
		    border-radius: 0;
		    padding: 0;
		    .dropdown-item {
		    	color: rgba(0, 0, 0, 0.5);
		    	padding: 0.5rem 1.5rem;
		    	font-size: 0.9em;
    			font-family: $font-regular;
    			&:not(:last-child){
    				border-bottom: 1px solid #d5d5d5;
    			}
    			&:hover {
    				background: transparent;
    				color: $primary;
    			}
		    }
		}
		.c-green {
			color: $secondary-2;
			font-family: $font-bold;
		}
		.c-primary {
			color: $primary;
			font-family: $font-bold;
		}
	}
	.nav {
		&-link {
			font-family: $font-regular;
			font-size: 0.95em; 
		}
		&-social {
			font-size: 0.95em; 
		}
		&-secondary {
			font-size: 0.8em !important; 
			padding-top: 11px;
		}
		&-main {
			font-family: $font-semibold;
			padding-left: 1.5em !important;
			padding-right: 1.5em !important;
		}
		&-mobile {
			color: rgba(0, 0, 0, 0.5) !important;
			text-transform: uppercase;
			padding-top: 0px !important;
		}
	}
	&-light {
		.navbar-nav {
			.show, .active {
				> .nav-link {
					color: $primary;
				}
			}	
			.nav-link {
				&:hover {
					color: $primary;
				}
				&.show, &.active {
					color: $primary;
				}
			}
		}
	}
}
.nav-m {
	padding: 0.5em;
}

/*Height*/
.height{
	&-10{
	height: 10vh;
	}
	&-20{
	height: 20vh;
	}
	&-30{
	height: 30vh;
	}

	&-40{
	height: 40vh;
	}

	&-50{
	height: 50vh;
	}

	&-60{
	height: 60vh;
	}

	&-70{
	height: 70vh !important;
	/*@include media('<767px') {
			height: unset;
		}*/
	@include media('>=1024px') {
		height: 70vh !important;
	}
	}

	/*&-80{
	height: 80vh !important;
		@include media('<phone') {
			height: unset !important;
		}
	}*/

	&-90{
	height: 90vh;
	}
	&-100{
	height: 100vh;
	}

	&-sm {
		&-60 {
			@include media('>=desktop', '<=phone') {
				height: 60vh !important;
			}
		}
	}
} 

/*@media only screen and (min-width: 992px) {
	.height-80 {
		height: 60vh !important;
	}
}*/

@media only screen and (max-width: 768px) {
	.height-80 {
		height: unset !important;
	}
}

@media only screen and (min-width: 1200px) {
	.height-80 {
		height: 80vh !important;
	}
}



.rad20 {
	border-radius: 20px;
}

.med {
	font-size: 90%;
}

/*boxed*/

.boxed {
    position: relative;
    padding: 1.55714286em;
    margin-bottom: 30px;
    border-radius: 6px;
}

.pos--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1em !important;
  right: 0;
  left: auto;

  a active {
  	color: $primary !important;
  }
}

/*Colors*/

.color {

	&-pink {
	color: #ef005d !important;
	}

	&-green {
		color: $secondary-2 !important;
	}

	&-muted {
		color: $muted !important;
	}

	&-bod {
		color: $body-color !important;
	}

	&-primary-2 {
		color: $primary-2 !important;
	}
	&-yellow {
		color: #e3a944 !important;
	}
	&-primary-3 {
		color: $primary-3 !important;
	}
	&-black {
		color: black !important;
	}

}

/*Typography*/ 

.type {
	&-uppercase {
		text-transform: uppercase;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-extrabold;
	color: $dark-2;
}

.quote {
	font-size: 21px;
	line-height: 28px;
}

.title {
	font-size: 3em;
}


/*-----Cards-----*/
.login-card {
	.card {
		border:0;
	}
	.card-header {
		padding: 1.5rem 1.25rem;;
		background: $white;
	}
}

.card {
	border-radius: 0px !important;
	a {
		color: unset !important;
	}
	a:hover {
		text-decoration: none !important;
		color: $secondary-2 !important;
	}

	&-img-overlay {
		border-radius: 0px;
	}

	&-img {
		border-radius: 0px;
	}

	&-holistic {
		position: absolute;
		top: 480px;
		right: 15px;
		@include media('<767px') {
			position: relative;
			top: unset;
			right: unset;
		}

		@include media('<=tablet') {
			position: relative;
			top: unset;
			right: unset;
		}
	}
}

.no-border {
	border:0 !important;
}

.bordered {
	border: 1px solid rgba(0,0,0,0.3);
}

.card {
	&-text {
		font-size: 13px;
	}
	&-body {
		padding: 1.25rem 0;
	}
	&-about {
		background: $secondary-2;
		color: $white;
		border: 0px;
		left: -3em;
		z-index: 99;
		@include media('<767px') {
			left: unset;
		}
		@include media('<=tablet') {
			position: static !important;
		}
	}
}

.blog-card {
	padding: 0;
	background: #f4dacd;
	.card-body {
		padding:0;
	}

	a {
		.card-desc {

			* {
				color: $body-color;
			}
			i {
				color:#afafaf;
			}
		}
		&:hover {
			text-decoration: none;
			* {
				color: $secondary-2;
			}
		}
	}
}

[data-scrim-bottom]:before {
	border-radius: 20px;
}


.events-widget{
	background-image: linear-gradient(to bottom, rgba(78,125,214,1), rgba(90,128,201,1));
	padding:1.7rem;
	margin-bottom:1em;
	border-radius: 20px;
	color: white;
	a {
		color: $primary;
		text-transform: uppercase;
		font-family: $font-bold;
		margin-top: 1em;
		font-size: 0.9em;
	}
	.event-calendar {
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		border-bottom: 1px solid #eee;
		&:last-child {
			margin-bottom: 1em;
		}
		
		i {
			color: $primary-3;
			font-size: 0.9em;
		}
		.event-name {
			font-family: $font-bold;
			margin-bottom: 0.3rem;
		}
		.event-date {
			font-size: 0.9em;
		}
		.event-link {
			a {
				font-family: $font-body;
				font-size: 0.9em;
				color: $muted;
				text-transform: capitalize;
			}
		}
		.gardener-name {
			margin-bottom: 0.3rem;
			font-size: 0.9em;
		}
		
	}
}

.accord {
	&-header {
		padding: 10px 10px;
		border-bottom: 1px solid #cbcfd3;

		a { 
			font-family: $font-extrabold;
			color: $secondary-2 !important;
			.collapsed {
				background-color: rgba(0, 0, 0, 0.03);
			}
		}
	}
		&-1 {
			padding: 0px;

			a {
			font-family: $font-extrabold;
			color: $secondary-2 !important;
			.collapsed {
				background-color: rgba(0, 0, 0, 0.03);
			}
			}
		}

}

/*-----List------*/
.list-social {
	list-style: none;
	margin-bottom: 0;
	padding:0;
	display: flex;
	justify-content: center;
	li {
		margin-left: 1.5rem;
	}
	a {
		
		&:hover {
			color: $primary;
		}
	}
}
/*-----Buttons-----*/
a {
	font-family: $font-regular;
}

.btn {
	border-radius:25px;
	padding: 0.7rem 2rem;
    font-size: 0.85rem;
    line-height: 1.4;
    font-family: $font-bold;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    border: 2px solid #787a7e;
    color: #787a7e;
	&-facebook {
		background: $bg-facebook;
		border-color: $bg-facebook;
		color: $white !important;
		&:hover {
			background: #4261b0;
			border-color: #4261b0;
		}
	}
	&-google {
		background: $bg-google;
		border-color: $bg-google;
		color: $white !important;
	}
	&-secondary {
		&.active {
		background: $secondary-2 !important;
		border:1px solid $secondary-2 !important;
		}
	}
	&-primary {
		background: $primary;
    	border: 2px solid $primary;
    	color: $white !important;
    	&:hover {
			border: 2px solid $primary !important;
		}
	}
	&-nav {
		padding: 0.4rem 4rem;
	}
	&-lg {
		
	    font-size: 1.25rem;
	    line-height: 1.5;
	    border-radius: 20rem;
	}
	&-sm {
		padding: 0.5rem 2rem;
	    font-size: 0.9rem;
	    line-height: 1.5;
	    border-radius: 20rem;
		}
	&:hover {
		color: $primary;
		border: 2px solid $primary;
	}
	&-square {
		border-radius: 0px !important;
	}	
	&-blue {
		background: $secondary-2;
    	border: 2px solid $secondary-2;
    	color: $white !important;
    	&:hover {
			border: 2px solid $secondary-2 !important;
		}
	}
	&-mag {
		background: $secondary-3;
    	border: 2px solid $secondary-3;
    	color: $white !important;
    	&:hover {
			border: 2px solid $secondary-3 !important;
		}
	}
}

a.btn-social {
  border-radius: 50%;
  color: #ffffff !important;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 8px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
  webkit-transition: background-color .3s;
  width: 40px;
  border: 1px solid $white;

  @include media('<=tablet') {
  	font-size: 11px !important;
  	height: 30px;
  line-height: 30px;
  width: 30px;
  }
}

.btn-social {
  border-radius: 50%;
  color: #ffffff !important;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 8px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
  webkit-transition: background-color .3s;
  width: 40px;
  border: 1px solid $white;

  .fab, i {
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
  }

  &:hover, &:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
  }

  &:hover .fa, &:focus .fa, &:hover i, &:focus i {
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
  }

  &.btn-xs {
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
  }

  &.btn-sm {
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
  }

  &.btn-lg {
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
  }
}

/*inputs*/
.form-control {
	border-radius: 20px;
}
select {
  cursor: pointer;
  padding-right: 1.85714286em;
  -webkit-appearance: none;
}

.select-arrow::after{
	 	content: "";
	    position: absolute;
	    z-index: 2;
	    top: 200px;
	    margin-top: -3px;
	    height: 0;
	    width: 0;
	    right: 30px;
	    border-top: 6px solid black;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    pointer-events: none;
 	}

/*-----Fonts-----*/
.font{
	&-regular {
		font-family:$font-regular !important;
	}
	&-bold {
		font-family:$font-bold;
	}
	&-extrabold {
		font-family:$font-extrabold;
	}
	&-semibold {
		font-family:$font-semibold;
	}
	&-secondary {
		font-family:$font-secondary;
		font-weight: 300;
	}
	&-quote {
		font-family: 'Bodoni Moda', serif;
	}
	&-sav {
		font-family: 'Savoye LET Plain';
	}
}

/*-----Background-----*/
.bg{
	&-dark {
		* {
			color: $white;
		}
	}
	&-dark-2 {
		background: $dark-2;
		* {
			color: $white;
		}
	}
	&-dark-3 {
		background: $dark-3;
		* {
			color: $white;
		}
	}
	&-black {
		background-color: $black;
		
	}
	&-secondary {
		background-color: $bg-secondary !important;
	}
	&-secondary-2 {
		background: $secondary-2 !important;
	}
	&-secondary-3 {
		background: $secondary-3 !important;
	}
	&-main {
		background: #eef3f6;
	}
	&-primary {
		background-color: $primary !important;
	}
	&-gray {
		background-color: $gray !important; 
	}
	&-top {
		background-position: top center !important;
	}
}

/*colors*/ 
.c {
	&-primary {
		color: $primary !important;
	}
	&-muted {
		color: $muted !important;
	}
	&-blue {
		color: $secondary-2 !important;
	}
	&-magenta {
		color: $secondary-3 !important;
	}
	&-white {
		color: white !important;
	}
	&-fb {
		color: $bg-facebook;
	}
	&-gray {
		color: $gray;
	}
	&-bod {
		color: $body-color;
	}
	&-black {
		color: black !important;
	}
}
.imagebg {
    position: relative;
    .container {
		z-index: 2;
	  	position: relative;
	}
	* {
		color: $white;
	}
}
.background-image-holder {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0;
  transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  opacity: 0;
  background: $black;
  &:not([class*='col-'a]) {
	  width: 100%;
	}
  img {
  	display: none;
  }
  @include media('<=1024px') {
		background-position: 73% 50% !important;
	}
}

/*space*/

section.space--xxs,
footer.space--xxs {
  padding-top: 1.85714286em;
  padding-bottom: 1.85714286em;
}
section.space--xs,
footer.space--xs {
  padding-top: 3.71428571em;
  padding-bottom: 3.71428571em;
}
section.space--sm,
footer.space--sm {
  padding-top: 4.95238095em;
  padding-bottom: 4.95238095em;
}
section.space--md,
footer.space--md {
  padding-top: 11.14285714em;
  padding-bottom: 11.14285714em;
}
section.space--lg,
footer.space--lg {
  padding-top: 14.85714286em;
  padding-bottom: 14.85714286em;
}
section.space--xlg,
footer.space--xlg {
  padding-top: 29.71428571em;
  padding-bottom: 29.71428571em;
}
section.space--0,
footer.space--0 {
  padding: 0;
}
section.section--even,
footer.section--even {
  padding-top: 7.42857143em;
  padding-bottom: 7.42857143em;
}
section.space-bottom--sm,
footer.space-bottom--sm {
  padding-bottom: 4.95238095em;
}
@media all and (max-width: 767px) {
  section,
  footer,
  section.section--even {
    padding: 5.57142857em 0;
  }
  section.space--lg,
  footer.space--lg,
  section.section--even.space--lg,
  section.space--md,
  footer.space--md,
  section.section--even.space--md {
    padding: 5.57142857em 0;
  }
  section.space--xlg,
  footer.space--xlg,
  section.section--even.space--xlg {
    padding: 8.35714286em 0;
  }
}

.pos-vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.hidden {
	&-xs {
		@include media($xs){
			display: none;
		}
	}
	&-sm {
		@include media($sm...){
			display: none;
		}
	}
	&-md {
		@include media($md...){
			display: none;
		}
	}
	&-lg {
		@include media($lg){
			display: none;
		}
	}
}
.visible {
	&-xs {
		display: none;
		@include media($xs){
			display: block !important;
		}
	}
	&-sm {
		display: none;
		@include media($sm...){
			display: block !important;
		}
	}
	&-md {
		display: none;
		@include media($md...){
			display: block !important;
		}
	}
	&-lg {
		display: none;
		@include media($lg){
			display: block !important;
		}
	}
}

/*slider */
.slider-carousel {
    height: 70vh !important;
    @include media('<=425px') {
    	height: unset !important;
    }
    @include media('<=tablet') {
		height: 40vh !important;
	}
	@include media('>=1440px') {
		height: 70vh !important;
	}
	@include media('>=1024px') {
		height: 50vh !important;
	}
	@include media('>=1399px') {
		height: 70vh !important;
	}
}

.carousel {
    position: relative;
}

.carousel-indicators {
}

.indicator-banner {
	bottom: 10em;
    left: -30em;
    @include media('<=desktop') {
		bottom: 2em;
		left: -28em;
	}
}

.indicator-welcome {
    left: 51em;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 60px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: $secondary-2;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .3;
    transition: opacity .6s ease;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
    z-index: 3;
    transform: none;
}

.carousel-item .item-inner {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.carousel-item-box {
    position: relative;
    background: #fff;
    text-decoration: none;
    width: auto;
    height: auto;
    max-width: none;
    padding: 40px;
}

.carousel-item-img {
    display: inline-flex;
    position: absolute;
    right: -30em;
    top: -17em;
}

.home-text {
	padding: 5em 2em 5em 11em;
	@include media('<767px') {
		padding: 5em 2em 5em 2em;
	}
	@include media('<=desktop') {
		padding: 3em 1em 3em 1em;
	}
}


/*.home-text {
	position: absolute;
	left: 10em;
    z-index: 99;
    padding-left: 0;
}*/

.row {
	margin: 0 !important;
}

/*circles*/


/**
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(1, 1fr);
  @include media('<767px') {
  	grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 31em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


/*background*/

.background-image-holder:not([class*='col-']) {
    width: 100%;
}
.background-image-holder {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-position: 50% 50% !important;
    z-index: 0;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    opacity: 0;
    background: #252525;
}

.owl-prev, .owl-next {
	display: none;
}

/*branch*/

.branch {
	&-container {
	position: absolute;
	left: 200px;
	top: 50px;
	z-index: 999;
	width: 70%;
		@include media('<=425px') {
			position: relative;
			left: unset;
			width: 100%;
			top: 0px;
		}
		@include media('>=tablet') {
			left: 40px;
			width: 70%;
			top: 50px;
		}
		@include media('>=1440px') {
			left: 200px;
			width: 70%;
			top: 50px;
		}

	}
	&-details {
		padding: 20px 30px;
		@include media('<767px') {
			padding: 20px 20px;
		}
	}
}

.visit-bg {
	height: 70vh;
	@include media('<=tablet') {
		height: 50vh !important; 
	}
	@include media('>=1440px') {
		height: 70vh !important;
	}
}

/* Style the tab */
.tab {
  float: left;
  background-color: #ffffff;
  width: 25%;
  height: 300px;
  padding: 2em;

  	@include media('<=425px') {
  		width: 100%;
  	}
  	@include media('>=tablet') {
		width: 40%;
	}
	@include media('>=1440px') {
		width: 25%;
	}
  	button {
  	  display: block;
	  background-color: inherit;
	  color: black;
	  padding: 18px 16px;
	  width: 100%;
	  border: none;
	  outline: none;
	  text-align: left;
	  cursor: pointer;
	  border-bottom: 1px solid #cbcfd3;
	  font-family: $font-extrabold;

	  &:hover {
	  	background-color: #eaeef2;
  		color: $primary;
	  }
	  &.active {
	  	background-color: #eaeef2;
  		color: $primary;
	  }
  	}
  	&-bg {
  		transition: opacity ease-in .5s;
  	}
/*  	&-mob {
  		display: none;
  	}*/
} 

.shs-1 {
	display: flex;
  	flex-direction: row;
  	@include media('<767px') {
		flex-direction: column;
		column-count: 2;
  	}
  	.card {
  		@include media('<767px') {
  			height: 30% !important;
  		}
  	}
}

.map-h {
	height: 60%;
	@include media('<=425px') {
		height: 50%;
	}
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px;
  background: #e4e7eb;
  width: 30%;
  border-left: none;
  height: 370px;
  display: none;
  box-shadow: 3px 2px 20px rgba(0,0,0,0.2);

  @include media('<=425px') {
  		width: 100%;
  		height: 310px !important;
  	}
  	@include media('>=tablet') {
		width: 50%;
		 height: 370px !important;
	}
	@include media('>=1440px') {
		width: 30%;
		 height: 370px !important;
	}
}

.tab button .someicon {
  opacity: 0;
}
.tab button:hover .someicon, .tab button.active .someicon {
  opacity: 1 !important;
}

/*page tabs*/

.tab-page {
  float: left;
  border: 1px solid #ccc;
  background-color: #eaeef2;
  width: 45%;
  height: auto;
  @include media('<767px') {
  	height: 100%;
  }

  button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px 12px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $secondary-3;
      color: $white;
    }

    &.active {
      background-color: $secondary-2;
      color: $white;
      font-family: $font-bold;
    }
  }
}

.tabpage-content {
  float: left;
  padding: 20px 12px;
  border: 1px solid #ccc;
  width: 55%;
  border-left: none;
  height: auto;
  display: none;
  @include media('<767px') {
  	height: auto;
  }
}

/*footer*/

footer {
	border-top: 5px solid $primary;
	font-size: 0.85rem;
	.logo {
		max-height: 4em;
	}
}

footer p {
	font-size: 0.8rem;
}

footer hr {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-links {
	list-style: none;
	margin: 0;
  	padding: 0;
  	a {
  		font-size: 0.80rem;
  		font-family: $font-body;
  	}
  	a:hover {
  		color: $white;
  	}
}

@media screen and (max-width: 375px) {
	.height-xs-80 {
		height: 90vh !important;
	}
}

/*mobile*/
@media screen and (max-width: 425px) {
	.pl-xs-0 {
		padding-left: 0px !important;

	}

	.col-xs-6 {
		width: 50% !important;
	}

	.mt-xs-0 {
		margin-top: 0px !important;

	}

	.height-xs-80 {
		height: 80vh !important;
	}

	
}

/*tablet*/

@media (max-width: 1000px) and (min-width: 768px) { 
	.pl-sm-0 {
		padding-left: 0px !important;
	}

	.height-sm-50 {
		height: 50vh !important
	}


	.pt-xs-0 {
		padding-top: 0px !important;
	}

}


/****masonry****/

/* The Masonry Container */
.masonry {
  margin: 1em auto;
  max-width: 100%;
  column-gap: 0.5em;
}

/* The Masonry Brick */
.item {
  background: #fff;
  padding: 0.4em;
  margin: 0 0em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}

/*Nav pills*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $secondary-2;
    background-color: #eaeef2;
    padding: 0.8em 0em;
}

.nav-pills .nav-item a {
	font-family: $font-extrabold;
	font-size: 19px;
	padding: 0.8em 0em;
	color: $muted;
}

/** LIGHTBOX MARKUP **/

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.event {
	&-ilg {
		background: $primary !important;
		border-color: $primary !important;
		
	}
}

.fc-day-grid-event > .fc-content {
    white-space: normal !important;
}

.fc-event-main-frame {
    white-space: normal !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $primary;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#myBtn:hover {
  background-color: #555;
}