@font-face {
    font-family: 'Averta';
    src: url('Averta-Black.eot');
    src: url('Averta-Black.eot?#iefix') format('embedded-opentype'),
        url('Averta-Black.woff2') format('woff2'),
        url('Averta-Black.woff') format('woff'),
        url('Averta-Black.svg#Averta-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Bold.eot');
    src: url('Averta-Bold.eot?#iefix') format('embedded-opentype'),
        url('Averta-Bold.woff2') format('woff2'),
        url('Averta-Bold.woff') format('woff'),
        url('Averta-Bold.svg#Averta-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Semibold.eot');
    src: url('Averta-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Averta-Semibold.woff2') format('woff2'),
        url('Averta-Semibold.woff') format('woff'),
        url('Averta-Semibold.svg#Averta-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-ExtraBold.eot');
    src: url('Averta-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Averta-ExtraBold.woff2') format('woff2'),
        url('Averta-ExtraBold.woff') format('woff'),
        url('Averta-ExtraBold.svg#Averta-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Light.eot');
    src: url('Averta-Light.eot?#iefix') format('embedded-opentype'),
        url('Averta-Light.woff2') format('woff2'),
        url('Averta-Light.woff') format('woff'),
        url('Averta-Light.svg#Averta-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

